{block content}
<h2>Předplatné vašeho účtu vám umožní vidět celé příspěvky pro předplatitele a také příspěvky pro předplatitele vytvářet!</h2>
<div>
    <p>Vyberte do kdy chcete předplatné: </p>
    <input type="date">
    <a n:href="submitCart!" class="btn btn-primary">Zakoupit</a>
</div>
{kkt()}