{block content}
<h1>Page Settings</h1>

{control pageSettingsForm}

<h1>View databse of:</h1>
<a n:href="Admin:database dbName => likes">Likes</a>
<a n:href="Admin:database dbName => posts">Posts</a>
<a n:href="Admin:database dbName => comments">Comments</a>
<a n:href="Admin:database dbName => users">Users</a>
<a n:href="Admin:database dbName => settings">Settings</a>